@model FutureAgro.DataAccess.Models.Modulo

@{
    ViewData["Title"] = "Details";

    /*B-LimitesDetalle*/
}
@section scripts{

    <script src="~/lib/signalr/signalr.js"></script>
    <script src="~/js/Hubs/BaseHub.js"></script>

    <!--B-ScriptsModulosDetale-->

    <script src="~/js/Hubs/Crecimiento.js"></script>
    <script src="~/js/Hubs/PlantasMuertas.js"></script>
    <script src="~/js/Hubs/ErrorHub.js"></script>
}

<div class="container-fluid">
    <h4>Modulo @Html.DisplayFor(model => model.IdModulo)</h4>

    <div>
        <a asp-action="Index">Lista</a> |
        <a asp-action="Ambiente" asp-route-id="@Model.IdModulo">Ambiente</a>
    </div>
    <hr />
    <div class="row">
        <div class="col-7">
            <div class="card border-0">
                <h5>@Html.DisplayFor(model => model.Plantas.Count) Plantas</h5>
                <div class="card-body">

                    @foreach (var item in Model.Plantas)
                    {
                        <div class="media m-1 mt-2">
                            <img id="img-@item.IdPlanta" src="~/Images/@(item.Tipo.Nombre).png" height="100" width="100" class="mr-3 @(item.Viva?"":"disabled")" alt="Lechugas">
                            <div class="media-body">
                                <h5 class="media-title">@item.Tipo.Nombre @item.IdPlanta <span id="plantamuerta-@item.IdPlanta" class="text-danger @(item.Viva?"invisible":"")">Planta muerta</span></h5>
                                Crecimiento
                                <div class="progress mb-3">
                                    <div id="progrescrecimiento-@item.IdPlanta" class="progress-bar" role="progressbar" style="width:@(item.Viva?item.Crecimiento:0)%;"></div>
                                </div>
                                <h6 class="mb-3">
                                    Tiempo para producción
                                    @{
                                        var crecimiento = item.Crecimiento;
                                        var color = item.Crecimiento <= 20 ? "light" : item.Crecimiento <= 40 ? "info" : item.Crecimiento <= 60 ? "success" : item.Crecimiento < 100 ? "warning" : "danger";

                                        var dias = (crecimiento * 0.35);
                                        var txtDias = "";
                                        if (dias >= 35)
                                        {
                                            txtDias = "Cosechar";
                                        }
                                        else
                                        {
                                            txtDias = Math.Round(35 - dias, 0).ToString() + " Días";
                                        }
                                    }
                                    <span id="spanTiempoProduccion-@item.IdPlanta" class="badge badge-@color @(item.Viva?"":"invisible")">@txtDias</span>
                                </h6>
                            </div>
                        </div>
                        <hr />
                    }
                </div>
            </div>
        </div>
        <div class="offset-1 col-4">
            <h5 class="mb-4">Control de ambiente</h5>
            <!--B-ControlAmbienteDetalle-->
        </div>
    </div>

</div>
