@model IEnumerable<FutureAgro.DataAccess.Models.Modulo>

@{
    ViewData["Title"] = "Index";

    /*B-LimitesIndex*/
    
    int superiorLuz = (int)ViewData["LuminosidadLimiteSuperior"];
    int inferiorLuz = (int)ViewData["LuminosidadLimiteInferior"];
}
@section scripts{

    <script>
        var superiorLuz = @superiorLuz;
        var inferiorLuz = @inferiorLuz;
    </script>

    <script src="~/lib/signalr/signalr.js"></script>
    <script src="~/js/Hubs/BaseHub.js"></script>

    <!--B-ScriptsModulosIndex-->
    
    <script src="~/js/Hubs/Luminosidad.js"></script>
    <script src="~/js/Hubs/ErrorHub.js"></script>
}
<h2>Index</h2>
<p>
    <a asp-action="Create">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdModulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plantas)
            </th>
            <!--B-TitulosColumnasModulosIndex-->
            <th>
                @Html.DisplayNameFor(model => model.Luminosidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.IdModulo">@Html.DisplayFor(modelItem => item.IdModulo)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plantas.Count)
            </td>
            <!--B-ColumnasModulosIndex-->
            <td>
                @{
                    var colorLuz = item.Luminosidad <= superiorLuz && item.Luminosidad >= inferiorLuz ? "success" : "danger";
                }
                <div class="badge badge-@colorLuz" id="divLumens-@item.IdModulo">@item.Luminosidad Lumens</div>
            </td>
            <td>
                <a asp-action="Ambiente" asp-route-id="@item.IdModulo">Ver Ambiente</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdModulo">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.IdModulo">Borrar</a>
            </td>
        </tr>
        }
    </tbody>
</table>
