@model FutureAgro.DataAccess.Models.Planta

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Planta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Viva)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Viva)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Crecimiento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Crecimiento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tipo.IdTipoPlanta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Modulo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modulo.IdModulo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPlanta">Editar</a> |
    <a asp-action="Index">Lista</a>
</div>
