@model FutureAgro.DataAccess.Models.Planta

@{
    ViewData["Title"] = "Delete";
}

<h2>Borrar</h2>

<h3>¿Esta seguro que desea borrar la planta?</h3>
<div>
    <h4>Planta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Viva)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Viva)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Crecimiento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Crecimiento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tipo.IdTipoPlanta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Modulo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modulo.IdModulo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPlanta" />
        <input type="submit" value="Borrar" class="btn btn-default" /> |
        <a asp-action="Index">Lista</a>
    </form>
</div>
